<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>[CHOOSE_A_REVERSE_FQDN_PREFIX].deep-freeze</string>

  <key>ProgramArguments</key>
  <array>
    <string>[PATH_TO_DEEP_FREEZE]/deep-freeze/deep-freeze</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
    <key>PATH</key>
    <string>[HOME_DIRECTORY]/.pyenv/shims:/opt/homebrew/opt/gnu-time/libexec/gnubin:/opt/homebrew/opt/gnu-tar/libexec/gnubin:/opt/homebrew/opt/gnu-sed/libexec/gnubin:/opt/homebrew/opt/coreutils/libexec/gnubin:/opt/homebrew/bin:/opt/homebrew/sbin:/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
  </dict>

  <key>Nice</key>
  <integer>1</integer>

  <key>StartInterval</key>
  <integer>3600</integer>

  <key>RunAtLoad</key>
  <false/>

  <key>StandardErrorPath</key>
  <string>/tmp/deep-freeze.err</string>

  <key>StandardOutPath</key>
  <string>/tmp/deep-freeze.out</string>
</dict>
</plist>
